apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
      - name: minecraft
        image: docker.io/itzg/minecraft-server:java21-graalvm
        env:
        - name: EULA
          value: "TRUE"
        - name: TYPE
          value: "PAPER"
        - name: VERSION
          value: "1.21.11"
        - name: MAX_MEMORY
          value: 5G
        - name: SERVER_NAME
          value: Magesgate.com
        - name: MOTD
          value: Where the magic Begins 
        ports:
        - containerPort: 25565
          hostPort: 25565
        - containerPort: 19132
          hostPort: 19132
          protocol: UDP
        - containerPort: 19132
          hostPort: 19132
          protocol: TCP
        volumeMounts:
        - name: minecraft-data
          mountPath: /data
      volumes:
      - name: minecraft-data
        persistentVolumeClaim:
          claimName: minecraft-pvc
  strategy:
    type: Recreate
